<!DOCTYPE html>
{% load staticfiles %}
<html>
<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="{% static "css/style.css" %}" />
    <title>Розрахунок єнергії Гіббса</title>
</head>
<h1>Розрахунок єнергії Гіббса </h1>
<body class="container">
    <p class="overline"> Для розрахунку енергії Гіббса хімічної реакції, введіть формулу у поле вводу яке знаходиться нижчє.</p>
        <img src="{% static "images/equation_structure.jpg" %}" alt="Stones along the river" >
    <p class="underline">На зображенні показані основні структурні елементи для правильного вводу. 
        Зверніть увагу що перед назвою хімічного елементу обов'язково повинен бути коеффіцієнт, навіть якщо він дорівнює одиниці його необхідно записати.
        Якщо речовина газоподібна, після позначення її хімічної назви у дужкках вкажіть "(g)" - що означає газоподібна.  </p>
    <form method="POST">
        {% csrf_token %}
    <div>
        <p>Введіть хімічне рівняння {{form.equation}}</p>
    </div>
    <div>
        <p>Початкова температура у Кельвінах:{{form.t_start}} Кінцева температура: {{form.t_stop}} Шаг для температури: {{form.t_step}}</p> 
    </div>
    <input class="button" type="submit" value="Розрахувати" >
    <p class="theory">
        Теорія:
    </p>
    <p class="theory">Якщо реакція здійснюється при постійному тиску і температурі (такий процес називається ізобарно-ізотермічним), то зміна енергії Гіббса при реакції дорівнюватиме:
    </p>
    <p class="theory">
        ΔG = ΔН - TΔS.
    </p>
    <p class="theory">
        Можна показати, що в умовах сталості температури і тиску реакції протікають мимовільно в сторону зменшення енергії Гіббса. Дійсно, в рівнянні наведеному вищє, є два члена. Перший (ΔН) приймає негативні значення, якщо система прагне до мінімуму енергії, другий (- ТΔS) також приймає негативне значення, якщо система прагне до хаосу. Але це і є дві тенденції протікання процесів. Значить, і негативна зміна енергії Гіббса, буде умовою протікання процесу в заданому напрямку.
        Необхідно додати, що від'ємне значення ΔG тієї чи іншої реакції вказує саме тільки на можливість її протікання. Насправді реакція може при цьому і не спостерігатися. Справа в тому, що швидкість її може бути малою; тоді, незважаючи на дотримання умови ΔG < 0, реакція практично не буде протікати. У цих випадках для збільшення швидкості реакції необхідно підібрати каталізатор. 
    </p>
</form>
</body>
</html>